ul{
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    flex-direction:row; 
    width: inherit;
}
.logo{
    flex: 1;                                                                        
    justify-content: flex-start;
    
    align-self:flex-start;
    
}
.item{

    align-self:flex-end;
    padding : 15px 15px;
    font-family: 'Merriweather', serif;

}
nav{
    border-bottom: 2px solid black;
    border : 1px solid green;
    border-radius: 10px;
    font-size: 20px;

}
